<!doctype html>
<html>
  <head>
    <title>Посты</title>
  </head>
  <body>
    <!--BEGIN (write your solution here)-->
    <form action="{{ url_for('posts_route') }}" method="get">
        <input type="search"  name="term" value="{{ query }}">
        <input type="submit"  value="Search">
    </form>
    <ul>    
    {% for post in posts %}
    <li>
      <p><a href="{{ url_for('posts_show', post_id=post.id) }}">{{ post.title}}</a></p>
      
    </li>
    {% endfor %}
  </ul>
    <!--END-->
</body>
</html>
