{% extends 'users/layout.html' %}

{% block title %}Пользователи{% endblock %}

{% block content %}
  <form action="{{ url_for('users_post') }}" method="get">
    <input type="search" name="query" value="{{ query }}">
    <input type="submit" value="Search">
  </form>
  {% if messages %}
  <ul class=flashes>
  {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
  {% for user in users %}
  <p>
  <tr>
    <td>
        {{ user.id }}
    </td>
    <td>
        <a href="{{ url_for('users_show', id=user.id) }}">{{ user.nickname }}</a>
    </td>
  </tr>
</p>
  {% endfor %}
{% endblock %}
