{% extends 'users/layout.html'%}

{% block title %}Пользователи{% endblock %}
{% block content %}
  <form action="{{ url_for('search_users') }}" method="post">
    <div>
      <label name="nickname">Nickname:
        <input type="text" name="nickname" value="{{user['nickname']}}"/>
      </label>
  </div>
  {% if errors['name'] %}
    <div>
      {{errors['name']}}
    </div>
  {% endif %}
  <div>
    <label name="email">Email
      <input type="email" name="email" value="{{user['email']}}"/>
    </label>
  </div>
  <input type="submit" value="Sign Up">
  </form>
{% endblock %}